.post-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .post-title {
    margin-bottom: .5rem;
  }

  .post-description {
    margin-top: 1rem;;
  }
}

.post-toc {
  display: flex;
  word-wrap: break-word;
  li {
    display: flex;
    flex: 1;
    gap: .5rem;
  }

  a {
    border-bottom: var(--default-border);
    color: var(--text-color);
    flex: 1;

    &:hover {
      background-color: transparent;
      border-bottom: 1px solid var(--main-color);
      color: var(--text-color);
    }
  }
}

.post-content {
  h1 {
    border-bottom: var(--default-border);
    padding-bottom: 1rem;
  }

  h1:not(:first-child) {
    margin-top: 2rem;
  }

  ul, ol {
    margin-left: 2rem;
  }

  blockquote {
    border-left: 1px solid var(--text-color);
    padding-left: 1rem;
  }

  img {
    border: var(--default-border);
    margin-top: 1rem;
  }
}
